.idea/
.vscode/
venv/
env/
virtualenv
*.pyc
*.sqlite3
*~
settings_local.py
src/static
src/media
.env
_mac/
*.xml
/nbproject/*
/src/nbproject/*
.DS_Store
**/.DS_Store
src/celerybeat-schedule
prod.env
storage/
qeep_postgres/
qeep_media
src/*_bot_persistence
test.csv